.component{
    background-color: #EFFAFA;

}

p{
    padding:0;
    margin:0;
}

.timeline{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: start;
  
}

